{% extends 'base_generic.html' %}

{% block content %}
    <h1>Books list</h1>
    <h5><a href="{% url 'book_create' %}">Add book</a></h5>
    {% if book_list %}
        <ul>
            {% for book in book_list %}
                <li>
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author }}) - <a href="{% url 'book_delete' book.pk %}"><button type="button" class="btn btn-danger" style="margin-right: 50px">Delete</button></a> -
                    <a href="{% url 'book_update' book.pk %}"><button class="button-arounder">Edit</button></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books in our library</p>
    {% endif %}
{% endblock %}